
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    left: 0;
    bottom: 0;
    width: 100%;
}
.container h2{
    font-size: 48px;

}
.left {

    flex: 2;
    padding-top: 300px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    border-color: #876c8b;
    border-width: 4px;
    margin-top: 10px;
    margin-bottom: 80px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: solid;
    border-bottom-style: none;
}
.submit{
    margin-bottom: 20px;
}
.left1 {

    flex: auto;
    padding-top: 160px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    border-color: #876c8b;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 80px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: solid;
    border-bottom-style: none;
}
.left2 {

    flex: auto;
    padding-top: 160px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    border-color: #876c8b;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 80px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: solid;
    border-bottom-style: none;
}
.right2 p{
    font-size: 24px;
    padding-bottom: 20px;
    color: #000000
}
.right2 h1{
    font-size: 40px;
    padding-bottom: 20px;
    color: #000000
}
.left2 p{
    font-size: 24px;
    padding-bottom: 20px;
    color: #000000
}
.left2 h1{
    font-size: 40px;
    padding-bottom: 20px;
    color: #000000
}
.right1{
    margin-top: 10px;
    margin-bottom: 80px;
    padding-top: 160px;
    padding-bottom: 60px;

    flex: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.right2{
    margin-top: 10px;
    margin-bottom: 80px;
    padding-top: 160px;
    padding-bottom: 60px;

    flex: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.left h1{
    font-size: 80px;
    text-shadow: 1px 1px 2px black;
}
.left p{
    font-size: 40px;
    padding-bottom: 20px;
    color: #9c9d8d
}
.right{
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle at center, #f6c3ff 5%, #ffffff 100%);
}
.signIn a{
    color: #0f0e0e;
    background-color: transparent;
    font-size: 60px;
    padding: 10px;
    font-weight: 500;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-decoration: none;
}
.signIn a:hover {
  color: #F5F3EE;
  background-color: #a5a6da;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.Logo{
    display: flex;
    padding-top: 240px;
    padding-bottom: 60px;
    margin-left: 40px;
    height: 400px;
    width: 400px;
}
footer {
    position: fixed;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6667ab;
    color: white;
    border-color: #876c8b;
    border-width: 4px;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    align-items: center;
}
.footerText {
    padding-right: 10px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    padding-left: 40px;
    align-items: center;
    justify-content: space-between;
}
.Links{
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    gap: 40px;
}
.footerText a{
    text-decoration: none;
    color: white;
}
.footerText a:hover{
    color: #f6c3ff;
    text-decoration: underline;
}
.highlight{
    color: #6667ab;
    font-weight: 800;
    text-shadow: 2px 2px 3px black;
} 
.highlight2{
    color: #6667ab;
}
.cookieInfo{
    font-size: 18px;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 40px;
}
.addUsers{
    background-color: #edeceb;
}
.addusers{
    display: flex; 
    flex-direction: column;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 31%;
    background-color: #f9f8ff;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 12px 14px;
    font-size: 16px;
    color: #2d2644;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: all 0.18s ease;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    border-color: #6667ab;
    box-shadow: 0 0 6px rgba(143, 83, 221, 0.6), 0 6px 12px rgba(0,0,0,0.15);
    background-color: #fff;
}
button[type="submit"], button[type="button"],.subbut{
    cursor: pointer;
    text-decoration: none;
    background-color: #6667ab;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 14px 18px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    transition: all 0.2s;
    text-align: center;
    width: 26%;
}
button[class="delete-btn"]{
    cursor: pointer;
    text-decoration: none;
    background-color: #6667ab;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 14px 18px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    transition: all 0.2s;
    text-align: center;
    width: 50%;
}
.add-btn {
    cursor: pointer;
    text-decoration: none;
    background-color: #6667ab;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 14px 18px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
    transition: all 0.2s;
    text-align: center;
    align-items: center;
    width: 100%;
}
button[type="submit"]:hover, button[type="button"]:hover, .subbut:hover,button[class="delete-btn"]:hover,.add-btn:hover{
    background-color: #585abf;
    box-shadow: 0 10px 16px rgba(0,0,0,0.25);
    transform: translateY(-2px);
}
.adding ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.adding li{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #f9f8ff;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 18px;
    font-size: 26px;
    color: #2d2644;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.buts{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.adding{
    background-color: #ffffff;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    padding: 60px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}